<h1>
  {{title}}
</h1>
<button pButton type="text" label="Click"></button>
<h3 class="first">Basic</h3>
<div class="ui-g" style="width:250px;margin-bottom:10px">
  <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities"></p-checkbox></div>
  <div class="ui-g-12"><p-checkbox name="group1" value="San Francisco" label="San Francisco" [(ngModel)]="selectedCities"></p-checkbox></div>
  <div class="ui-g-12"><p-checkbox name="group1" value="Los Angeles" label="Los Angeles" [(ngModel)]="selectedCities"></p-checkbox></div>
</div>
Selected Cities: <span *ngFor="let city of selectedCities" style="margin-right:10px">{{city}}</span>
<div class="ui-accordion">a</div>
